<ion-header>

  <ion-navbar no-border-bottom>

    <ion-title>
      <span float-left class="logo">
        <span class="inner"></span>
      </span>
      <span class="logo-text">Login</span>
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #registerForm="ngForm">

    <ion-row>
      <ion-col>
        <ion-list inset>
          
          <ion-item>
            <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="credentials.name" required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password" required></ion-input>
          </ion-item>
          
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full (click)="login()" [disabled]="!registerForm.form.valid">Login</button>
        <button ion-button class="register-btn" block clear (click)="register()">Or register here</button>
      </ion-col>
    </ion-row>
    
  </form>

</ion-content>
