<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom>

    <ion-title>
      <span float-left class="logo">
        <span class="inner"></span>
      </span>
      <span class="logo-text">Register</span>
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #registerForm="ngForm">

    <ion-row>
      <ion-col>
        <ion-list inset>
          
          <ion-item>
            <ion-input type="text" placeholder="Name" name="name" [(ngModel)]="credentials.name" required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password" required></ion-input>
          </ion-item>
          
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full (click)="register()" [disabled]="!registerForm.form.valid">Register</button>
        <button ion-button class="register-btn" block clear (click)="login()">Or login here</button>
      </ion-col>
    </ion-row>
    
  </form>

</ion-content>
