<ion-list>

  <ion-item (click)="setLang('en')"><span class="flag-icon flag-icon-en"></span> English</ion-item>
  <ion-item (click)="setLang('de')"><span class="flag-icon flag-icon-de"></span> German</ion-item>
  <ion-item (click)="setLang('fr')"><span class="flag-icon flag-icon-fr"></span> French</ion-item>
  <ion-item (click)="setLang('nl')"><span class="flag-icon flag-icon-nl"></span> Dutch</ion-item>
  <ion-item (click)="setLang('es')"><span class="flag-icon flag-icon-es"></span> Spanish</ion-item>
  <ion-item (click)="setLang('pt')"><span class="flag-icon flag-icon-pt"></span> Portuguese</ion-item>
  <ion-item (click)="setLang('it')"><span class="flag-icon flag-icon-it"></span> Italian</ion-item>
  <ion-item (click)="setLang('dk')"><span class="flag-icon flag-icon-dk"></span> Danish</ion-item>
  <ion-item (click)="setLang('fi')"><span class="flag-icon flag-icon-fi"></span> Finnish</ion-item>

</ion-list>