page-source {

	.source-logo {
		
		width:100%;
		display:block;
		text-align:center;
	
		background-image: url(../assets/imgs/dollar.jpg);
		background-repeat: no-repeat;
		background-color:#1F494D;
		background-size:cover;

		img {

			mix-blend-mode:multiply;
			filter:grayscale(100%);

			display:inline!important;
			max-width:300px;
			margin:0!important;
			padding:0;

		}

	}

}
