<ion-list *ngIf="!isLoggedIn()">

      <button ion-item (click)="pushPage('login')" detail-none>
        Login
      </button>

      <button ion-item (click)="pushPage('register')" detail-none>
        Register
      </button>

      <ion-item>
        <ion-label>Theme</ion-label>
        <ion-toggle (ionChange)="toggleTheme()" color="dark"></ion-toggle>
      </ion-item>

</ion-list>
<ion-list *ngIf="isLoggedIn()">

      <button ion-item (click)="pushPage('user-items')" detail-none>
        Saved Items
      </button>

      <button ion-item (click)="pushPage('user-sources')" detail-none>
        Saved Sources
      </button>

      <ion-item>
        <ion-label>Theme</ion-label>
        <ion-toggle (ionChange)="toggleTheme()" color="dark"></ion-toggle>
      </ion-item>

      <button ion-item (click)="logout()" detail-none>
        Logout
      </button>

</ion-list>      