
  <ion-row>
    <ion-col col-1>

  <!-- <span *ngIf="comment.isRemoved === 0 && comment.isDeleted === 0"> -->
    <votes item-start type="comment" id="{{comment.stub}}" vote="{{comment.vote}}" votes="{{comment.votes}}"></votes>
    </ion-col>
    <ion-col col-11>
      <div class="top-links">{{comment.user_name}} - {{dt(comment.dt)}} ago</div>
      <div class="comment-meat" (click)="comment._toggle = !comment._toggle" [ngClass]="{'toggled':comment._toggle}" [innerHtml]="remark(comment.txt)"></div>
      <div class="bottom-links">
        <a (click)="getReplies(comment.stub)">{{comment.repliesTo}} replies</a>  
        <span *ngIf="isLoggedIn()">
           - <a (click)="toggleReply($event)">reply</a>  
           <a (click)="toggleSave()"><span *ngIf="comment.isSaved === 1">saved</span><span *ngIf="comment.isSaved !== 1">save</span></a> 
           <a (click)="toggleDelete()" *ngIf="comment.isByUser === 1">delete</a> 
           <a (click)="toggleEdit($event)" *ngIf="comment.isByUser === 1">edit</a>  
        </span>
      </div>
    </ion-col>
  </ion-row>

  <div class="comments" *ngIf="comment._toggle">

    <div *ngFor="let reply of comment.replies" class="left-indent">

      <comment [comment]="reply" (requestReplies)="passReplies($event)"></comment>

    </div>

  </div>
