// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.logo {

	display:block;
	width:40px;
	height:40px;
	border:2px solid rgba(0,0,0,0.03);
	border-radius:100%;
	overflow:hidden;
	margin-right:5px;

	.inner {

		display:block;
		width:100%;
		height:100%;
		background-position:center center;
		background:url(../assets/imgs/logo.nspider.png);
		background-size:cover;

	}

}
.logo-text {

	display:block;
	height:40px;
	line-height:40px;

}


.items-line {

	align-items: flex-start;
	justify-content: flex-start;


	.flag-icon-background {
	  background-size: contain;
	  background-position: 50%;
	  background-repeat: no-repeat;
	}
	.flag-icon {
	  background-size: contain;
	  background-position: 50%;
	  background-repeat: no-repeat;
	  position: relative;
	  display: inline-block;
	  width: 1.33333333em;
	  line-height: 1em;
	}
	.flag-icon:before {
	  content: "\00a0";
	}
	.flag-icon.flag-icon-squared {
	  width: 1em;
	}

	.flag-icon-en {
		background-image: url(../assets/flags/us.svg);
	}

	.flag-icon-de {
		background-image: url(../assets/flags/de.svg);
	}

	.flag-icon-dk {
		background-image: url(../assets/flags/dk.svg);
	}

	.flag-icon-uk {
		background-image: url(../assets/flags/gb.svg);
	}

	.flag-icon-us {
		background-image: url(../assets/flags/us.svg);
	}

	.flag-icon-eu {
		background-image: url(../assets/flags/eu.svg);
	}

	.flag-icon-fr {
		background-image: url(../assets/flags/fr.svg);
	}

	.flag-icon-fi {
		background-image: url(../assets/flags/fi.svg);
	}

	.flag-icon-mx {
		background-image: url(../assets/flags/mx.svg);
	}

	.flag-icon-br {
		background-image: url(../assets/flags/br.svg);
	}

	.flag-icon-nl {
		background-image: url(../assets/flags/nl.svg);
	}

	.flag-icon-be {
		background-image: url(../assets/flags/be.svg);
	}

	.flag-icon-at {
		background-image: url(../assets/flags/at.svg);
	}

	.flag-icon-ch {
		background-image: url(../assets/flags/ch.svg);
	}

	.flag-icon-pt {
		background-image: url(../assets/flags/pt.svg);
	}

	.flag-icon-es {
		background-image: url(../assets/flags/es.svg);
	}

	.flag-icon-it {
		background-image: url(../assets/flags/it.svg);
	}

	.flag-icon-au {
		background-image: url(../assets/flags/au.svg);
	}

	.flag-icon-nz {
		background-image: url(../assets/flags/nz.svg);
	}

	.flag-icon-ca {
		background-image: url(../assets/flags/ca.svg);
	}

	ion-avatar {

		display: flex;
		align-items: center; /* Used for vertical centering child elements */
		justify-content: center; /* Used for horizontal centering child elements */
		height:100%;
		margin:0!important;

		span.better-avatar {

			display:inline-block;
			width:70px;
			height:70px;
			overflow:hidden;

			span.better-avatar-image{		

				display:block;
				width:100%;
				height:100%;
				background-position:center;

			}

		}

	}

	.cover-item-icon {

		font-size:0.8em;
		padding-right:3px;

	}

}

ion-segment {

	display: block;
	white-space: nowrap;
	font-size: 0;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none;
	}

	ion-segment-button.segment-button {
		display: inline-block;
		min-width: 100px;
		width: auto;
	}
	
}

.comment-popover .popover-content {
	top:0!important;
	left:0!important;
	right:0!important;
	width:100%;
}
