<div class="vote-box">

  <span *ngIf="isLoggedIn">
    <a (click)="submitVote($event,'up')"><ion-icon name="arrow-up"></ion-icon></a>
    <div>{{score(votes)}}</div>
    <a (click)="submitVote($event,'down')"><ion-icon name="arrow-down"></ion-icon></a>
  </span>

  <span *ngIf="!isLoggedIn">
    <a (click)="showToast($event)"><ion-icon name="arrow-up"></ion-icon></a>
    <div>{{score(votes)}}</div>
    <a (click)="showToast($event)"><ion-icon name="arrow-down"></ion-icon></a>
  </span>

</div>