votes {
	
	margin:auto 0!important;
	margin-left:3px!important;
	.vote-box {

		min-width:33px;

		ion-icon {
			display:block;
			font-size:15px;
		}

		span {
			display:block;
			text-align:center;
		}

	}

}
